<h2>Sermons</h2>

<p>
  <%= link_to 'Add sermon', new_sermon_path, class: 'btn btn-success' %>
</p>

<%= render 'sermons_table', index: true %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sermons %>
  </div>
  <%= will_paginate @sermons, :container => false %>
</div>