<h2>Series</h2>

<p>
  <%= link_to 'Add series', new_series_path, class: 'btn btn-primary' %>
</p>

<% @series.each do |s| %>
  <li>
    <span>
      <%= link_to s do %>
        <%= image_tag s.image.url(:thumb) %>
      <% end %>

      <%= link_to s.title, s %>
    </span>
  </li>
<% end %>