<h2><%= @series.title %></h2>

<p>
  <%= image_tag @series.image.url(:medium) %><br>
</p>

<p>
  <%= link_to 'Edit series', edit_series_path(@series), class: 'btn btn-primary' %>
</p>

<% if @series.sermons.length > 0 %>
  <h3>Associated sermons:</h3>
  <%= render 'sermons/sermons_table' %>
<% end %>